<html>
    <head>
        <title> <%= title %> </title>
        <link rel="stylesheet" href="/styles.css">
    </head>
<body>
        <h1><%= title %></h1>
        <% messages.forEach((item) => { %>
        <div class="message">
            <p>Message: <%= item.msg%></p>
            <p>By: <%= item.author%></p>
            <p>Date added: <%= item.date%></p>
            <a href="/message?id=<%=item.id%>">Open</a>
        </div>
        <% }) %>
        <a href="/new">New message</a>
</body>
</html>
