<html>
    <head>
        <title> Homepage </title>
        <link rel="stylesheet" href="/styles.css">
    </head>
<body>
        <h1><%= title %></h1>
        <% messages.forEach((item) => { %>
        <div class="message">
            <p>Message: <%= item.text%></p>
            <p>By: <%= item.user%></p>
            <p>Date added: <%= item.added%></p>
            <a href="/message?message=<%= item.text%>&user=<%= item.user%>&added=<%= item.added%>">Open</a>
        </div>
        <% }) %>
        <a href="/new">New message</a>
</body>
</html>
